*.meta
**.meta
***.meta

*.DS_STORE
**.DS_STORE
***.DS_STORE

.vscode

moengage123.jks
user.keystore

Library/
Logs/
Temp/
Builds/
ProjectSettings/
Assets/Plugins/Android/agconnect-services.json
/Android/